<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <meta name="keywords" content=" Sale, Accessories, Fiji, women, men">
    <meta name="description"
        content="¡Encuentra nuevos estilos con los mejores precios en rebajas y ropa en liquidación en Fiji! Obtenga hasta un 70% de descuento en ropa y accesorios para hombres y mujeres.">
    <title>Sale</title>
</head>

<body>
    <header>
        <div class=" fiji">
            <div class="fijiylogo">
                <h1 class="marca">Fiji</h1>
                <img class="logo" src="../Assets/Multimedia/icono fiji.jpg" alt="">
            </div>
            <div class=" icono3">
                <a href="../views/cuenta.html"><i class="far fa-user  icono"></i></a>
                <a href="../views/wishlist.html"><i class="far fa-heart  icono"></i></a>
                <a href="../views/carrito.html"><i class="fas fa-shopping-cart  icono"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid name">
                <a class="navbar-brand " href="#"></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/women.html">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/men.html">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/accessories.html">Accessories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/sale.html">Sale</a>
                        </li>
                    </ul>
                    <form class="d-flex ">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn"><i class="fas fa-search fa-lg"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <!-- Foto sale -->

        <div class=" m-4 ">
            <img src="../Assets/Multimedia/sale (1).jpg" alt="foto sale">
        </div>

        <!-- catalogo productos -->
        <div class="container">
            <div class="item">
                <a href="">
                    <img class="item-img " src="../Assets/Multimedia/sale/Basic Cotton-Blend Leggings.jpg"
                        alt="foto Basic Cotton-Blend Leggings"></a>
                <div class="item-text">
                    <h2>Basic Cotton-Blend Leggings</h2>
                    <span class="red">AR$475 </span>

                    <span class="incorrecto"> AR$710 </span>
                    <span>30% OFF</span>
                    <button type="button" class="btn btn-sm ">Comprar</button>
                </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia/sale/Camo Print Cargo Pants.jpg"
                        alt="foto Camo Print Cargo Pants "></a>

                        <div class="item-text">
                            <h2>Camo Print Cargo Pants</h2>
                            <span class="red">AR$2,400 </span>
        
                            <span class="incorrecto"> AR$3,550 </span>
                            <span>32% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia/sale/Colorblock Drawstring Swim Trunks.webp"
                        alt="foto Colorblock Drawstring Swim Trunks"></a>

                        <div class="item-text">
                            <h2>Colorblock Drawstring Swim Trunks</h2>
                            <span class="red">AR$475 </span>
        
                            <span class="incorrecto"> AR$710 </span>
                            <span>30% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia/Accessories/Faux Leather Ankle-Strap Heels 1.jpg"
                        alt="foto Faux Leather Ankle-Strap Heels "></a>
                        <div class="item-text">
                            <h2>Basic Cotton-Blend Leggings</h2>
                            <span class="red">AR$475 </span>
        
                            <span class="incorrecto"> AR$710 </span>
                            <span>30% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia/Accessories/Initial Pendant Necklace 1.jpg"
                        alt="foto Initial Pendant Necklace"></a>
                        <div class="item-text">
                            <h2>Basic Cotton-Blend Leggings</h2>
                            <span class="red">AR$475 </span>
        
                            <span class="incorrecto"> AR$710 </span>
                            <span>30% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia/Accessories/Juicy Couture Heart Bracelet 1.jpg"
                        alt="foto Juicy Couture Heart Bracelet"></a>
                        <div class="item-text">
                            <h2>Basic Cotton-Blend Leggings</h2>
                            <span class="red">AR$475 </span>
        
                            <span class="incorrecto"> AR$710 </span>
                            <span>30% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia/Accessories/Ombre-Tinted Square Sunglasses.jpg"
                        alt="foto Ombre-Tinted Square Sunglasses"></a>
                        <div class="item-text">
                            <h2>Basic Cotton-Blend Leggings</h2>
                            <span class="red">AR$475 </span>
        
                            <span class="incorrecto"> AR$710 </span>
                            <span>30% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
            <div class="item">
                <a href="">
                    <img class="item-img" src="../Assets/Multimedia//Accessories/Upcycled Lock Necklace Set.jpg"
                        alt="foto Upcycled Lock Necklace Set"></a>
                        <div class="item-text">
                            <h2>Basic Cotton-Blend Leggings</h2>
                            <span class="red">AR$475 </span>
        
                            <span class="incorrecto"> AR$710 </span>
                            <span>30% OFF</span>
                            <button type="button" class="btn btn-sm ">Comprar</button>
                        </div>
            </div>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation example ">
            <ul class="pagination pagination-mini justify-content-end">
                <li class="page-item">
                    <a class=" page-link " href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item "><a class="page-link" href="#">1</a></li>
                <li class="page-itemm"><a class="page-link" href="#">2</a></li>
                <li class="page-itemm"><a class="page-link" href="#">3</a></li>
                <li class="page-itemm">
                    <a class="page-link" href="#">Next</a>
                </li>
        </nav>

    </main>
    <!-- Footer -->
    <div class="container">
        <footer class="py-5 foot">
            <div class="row">
                <div class="col-2">
                    <h5>Shop</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Women</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Men</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accessories</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sale</a></li>
                    </ul>
                </div>

                <div class="col-2">
                    <h5>Help</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Envios y cambios</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Guia de Talles</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>

                    </ul>
                </div>

                <div class="col-4 offset-1">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of whats new and exciting from us.</p>
                        <div class="d-flex w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button type="button" class="btn btn-light">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>&copy; 2021 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter" /></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram" /></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook" /></svg></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
</body>

</html>