<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <meta name="keywords" content="Women, Fiji tops, tops, remeras, fiji">
    <meta name="description"
        content="¡Encuentre los estilos nuevos más populares con los mejores precios en oferta en Fiji! Obtenga hasta un 70% de descuento en ropa y accesorios para mujeres. Compra las mejores ofertas en vestidos, ...">
    <title>Error 404</title>
</head>
<body>
    <main>
        <div class="info"> 
        <h1>Oops! Page not found.</h1>
        <p> We can't seem to find the page you're looking for.</p>
        <ul>
            <li>Here are some helpful links instead</li>
            <a href="../index.html"><li>Home</li></a>
            <a href="../views/women.html"><li>Women</li></a>
            <a href="../views/men.html"><li>Men</li></a>
            <a href="../views/cuenta.html"> <li> Account</li></a>
        </ul>
    </div>
        <img class="homer" src="../Assets/Multimedia/error 404 (1).png" alt="">
    </main>
</body>