<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Women</title>
</head>

<body>
    <header>
        <div class="container fiji">
            <h1 class="marca">Fiji</h1>
            <img class="logo" src="../Assets/Multimedia/icono fiji.jpg" alt="">
            <div class="container icono3">
                <a href="../views/cuenta.html"><i class="far fa-user  icono"></i></a>
                <a href="../views/wishlist.html"><i class="far fa-heart  icono"></i></a>
                <a href="../views/carrito.html"><i class="fas fa-shopping-cart  icono"></i></a>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid name">
                <a class="navbar-brand " href="#"></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/women.html">Women</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/men.html">Men</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/accessories.html">Accessories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/sale.html">Sale</a>
                        </li>
                    </ul>
                    <form class="d-flex ">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn"><i class="fas fa-search fa-lg"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <nav aria-label="Page navigation example ">
            <ul class="pagination pagination-mini justify-content-end">
                <li class="page-item">
                    <a class=" page-link " href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item "><a class="page-link" href="#">1</a></li>
                <li class="page-itemm"><a class="page-link" href="#">2</a></li>
                <li class="page-itemm"><a class="page-link" href="#">3</a></li>
                <li class="page-itemm">
                    <a class="page-link" href="#">Next</a>
                </li>
            
        </nav>
        <div class="container">
            <div class="item">
                <a href=""><img class="item-img"
                        src="../Assets/Multimedia/Fotos women/Casper Graphic Mineral Wash Tee 1.jpg"
                        alt="foto remera Casper"></a>
                        
                <div class="item-text">
                    <h2>Casper Graphic Mineral Wash Tee</h2>
                    <p>AR$4,000</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Colorblock Drop-Sleeve Shirt 1.webp"
                    alt="foto Drop-Sleeve"></a>
                <div class="item-text">
                    <h2>Colorblock Drop-Sleeve Shirt </h2>
                    <p>AR$1,400</p>
                </div>
            </div>
            <div class="item">
               <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Hot Wheels Graphic Cami 1.jpg"
                    alt="foto top Hot"></a>
                    
                <div class="item-text">
                    <h2>Hot Wheels Graphic Cami</h2>
                    <p>AR$2,000</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Pointelle Knit Tank Top 1.webp"
                    alt="foto Pointelle"></a>
                <div class="item-text">
                    <h2>Pointelle Knit Tank Top</h2>
                    <p>AR$1,500</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Patchwork Bandana Crop Top 1.jpg"
                    alt="foto Patchwork"></a>
                <div class="item-text">
                    <h2>Patchwork Bandana Crop Top</h2>
                    <p>AR$2,000</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Plaid Cropped Flannel Shirt 1.jpg"
                    alt="foto plaid"></a>
                <div class="item-text">
                    <h2>Plaid Cropped Flannel Shirt</h2>
                    <p>AR$3,000</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Fitted One-Shoulder Top 1.webp"
                    alt="foto fitted"></a>
                <div class="item-text">
                    <h2>Fitted One-Shoulder Top</h2>
                    <p>AR$1,500</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Pointelle Knit Tank Top color 2.webp"
                    alt="foto pointelle color 2"></a>
                <div class="item-text">
                    <h2>Pointelle Knit Tank Top</h2>
                    <p>AR$2,000</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Reworked Flannel Shirt 1.jpg"
                    alt=" fotos Reworked"></a>
                <div class="item-text">
                    <h2>Reworked Flannel Shirt</h2>
                    <p>AR$1,550</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Reworked Los Angeles Graphic Tee 1.jpg"
                    alt="foto reworked los angeles"></a>
                <div class="item-text">
                    <h2>Reworked Los Angeles Graphic Tee</h2>
                    <p>AR$1,550</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Sheer Mesh Mock Neck Top 2.jpg"
                    alt="foto sheer"></a>
                <div class="item-text">
                    <h2>Sheer Mesh Mock Neck Top</h2>
                    <p>AR$2,000</p>
                </div>
            </div>
            <div class="item">
                <a href=""><img class="item-img" src="../Assets/Multimedia/Fotos women/Tie-Back Rhinestone Cropped Cami 1.webp"
                    alt="foto Tie-Back"></a>
                <div class="item-text">
                    <h2>Tie-Back Rhinestone Cropped Cami </h2>
                    <p>AR$1,000</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>