@mixin size-produ {
    width: 200px;
    height: 300px;
    max-width: 100%;
    display: block;
}

@mixin color-sec {
    color: #e9bede
}

@mixin color-font {
    color: rgb(148, 148, 148);
}
main{
.codemen{
    transform: translateX(200px);
}

.container{

.item-text {
    h2 {
        font-size: small;
        @include color-font();
    }

    p {
        font-weight: bold;
        transform: translateX(10px);
    }
    .btn{ 
        color:white;
        background-color:#BEAEE2;

    }
}

.item-img {
    @include size-produ;
    transform: translateX(-40px);

}
}
.pagination {
    margin-right: 60px;
    transform: translateY(20px);
    a {
        @include color-sec();
    }
}
}
footer {
    margin-top: 100px;
    border-top: 1px solid rgb(243, 237, 237);

}
