@import "./_variables.scss";

.main-prod {
    min-height: 400px;

    .producto-content {
        display: flex;
        justify-content: center;
        gap: 2em;

        .img-content {

            img {
                width: 300px;
            }
        }

        .datos-prod {
            transform: translateX(-10px);

            .title-star {
                h2 {
                    font-size: 25px;
                }

                i {
                    transform: translateY(-10px);
                    transition: 0.2s;
                    cursor: pointer;
                }

                i:hover {
                    font-size: 20px;
                    color: $color1;

                }

                ul {
                    list-style: none;

                    li {
                        color: $color2;
                        font-size: small;
                        transform: translateX(-30px);
                    }
                }
            }

            .talle-add {

                .btn {
                    border: 1px solid #ccc;
                    width: 40px;
                    color: #000;
                    text-align: center;
                }

                .not {
                    color: $color2;
                    text-decoration: line-through;
                }

                .redes-i {
                    margin-top: 2em;

                    #add {
                        font-family: none;
                        color: #fff;
                        text-decoration: none;
                        background-color: $color1;
                        padding: 5px 80px;
                        border-radius: .18rem;
                        border: 1px solid $color2;
                        transition: all 0.2s;

                    }

                    i {
                        margin-left: 5px;
                        transition: all 0.2s;
                        color: rgb(194, 189, 189);
                        cursor: pointer;
                    }

                    i:hover {
                        font-size: 18px;

                    }

                    .redes {
                        margin-top: 1em;
                        transform: translatex(50px);
                    }

                }
            }
        }

        .details-cont {
            margin-top: 2em;

            .details-1 {
                h3 {
                    font-size: 16px;
                    font-weight: bold;
                    color: #000;
                }

                p {
                    font-size: 14px;
                    color: rgb(22, 22, 22);
                }
            }
        }
    }
}