@mixin color-sec {
    color: #e9bede
}

a:link {
    text-decoration: none;
}

main {
    .producto {
        display: flex;
        width: 80%;
        height: 500px;
        justify-content: start;
        margin-left: 200px;
    

        .carousel1 {
            width: 408px;
            height: 500px;
            margin-left: 100px;
            transform: translateY(40px);
        }

        .infocarrito {
            margin-top: 100px;
            margin-left: 40px;

            p{
            margin-left: 10px;
            }
            .add {
                margin-top: 10px;
                margin-left: 10px;
                width: 240px;
                height: 30px;
                color: white;
                background-color: #BEAEE2;
                border-radius: 4px;
                border: 1px solid rgb(105, 52, 105);

            }

            .redes {
                margin-left: 80px;
                margin-top: 20px;

                i {
                    font-size: 20px;
                }
            }

            .icono {
                color: #BEAEE2;
            }

            .btn {

                width: 40px;
                
                border: 1px solid rgb(87, 86, 86);
                background-color: white;
                border-radius: 2px;
                color: rgb(167, 167, 167);
                transform: translateX(10px);
            }
        }

        .fa-star:hover {
            @include color-sec;
        }

        

        .list {
            list-style: none;
            transform: translateX(-20px);
            color: black;
        }
    }

.details {
        margin-top: 50px;
        margin-left: 300px;
    }

}