@mixin men {        
    width: 250px;
    height: 350px;
}
@mixin color-font {
    color: rgb(148, 148, 148);
}
main{
    
    .women-card{
    .off{
        font-size: small;
        @include color-font;
    }
    .red{ 
    color: #de1b3c;
    }
    .incorrecto{
        text-decoration: line-through;
        font-size: small;
        @include color-font;
    } 
}
}