@import "./_variables.scss";

section {
    .register {
        .btn {
            color: white;
            background-color: #BEAEE2;
            border: 1px solid rgb(178, 122, 231);
        }
    }
}