@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap');
=======

>>>>>>> modificaciones

$color1: #beaee2;
$color2: #949494;
@mixin logo {
    width: 60px;
    height: 50px;
}
@mixin icono {
    height: 60px;
    width: 100%;
}
@mixin men {        
    width: 250px;
    height: 350px;
}