main {
    display: flex;

    .info {
        margin-left: 400px;
        margin-top: 200px;
        h1{
            font-size: 60px;
            color: black;
        }
        p{
            font-size: medium;
        
        }
        li {
            list-style: none;
            
        }

        .homer {
            width: 600px;
            background-color: beige;
            justify-content: flex-end;
            margin-left: 80px;
        }
    }
}