
main{
    margin-left: 60px;


.container{
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: 180px;
    margin-top: 3em;
    margin-bottom: 3em;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
}


.item-text{
    h2{
        font-size: large;
    }
background-color: white;
font-size: smaller;

}

.item-img{
    width:220px ;
    height: 300px;
    max-width: 100%;
    display: block;
}
}