@mixin size-produ {
    width: 200px;
    height: 300px;
    max-width: 100%;
    display: block;
}

@mixin color-sec {
    color: #e9bede
}

@mixin color-font {
    color: rgb(148, 148, 148);
}




main {

    .container {
        display: grid;
        width: 90%;
        max-width: 1000px;
        margin-left: auto;
        margin-right: 180px;
        margin-top: 3em;
        margin-bottom: 3em;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 60px;
    }

    .item-text {
        h2 {
            font-size: small;
            color: rgb(148, 148, 148);
            transform: translateX(-40px);
}
        
        p {
            font-weight: bold;
            margin-top: 20px;
        }

    }

    .item-img {
        @include size-produ
    }


    .pagination {
        margin-right: 60px;
        transform: translateY(20px);
        a {
            @include color-sec();
        }
    }

    footer {
        margin-top: 100px;
        border-top: 1px solid rgb(243, 237, 237);

    }
}