    @import "./_women.scss";
    @import "./_men.scss";
    @import "./_carrito.scss";
    @import "./_accessories.scss";
    @import "./_sale.scss";

    @mixin size-produ {
        width: 200px;
        height: 300px;
        max-width: 100%;
        display: block;
    }

    header {
        display: flex;
        flex-direction: column;
    
        .fiji {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            color: #BEAEE2;

            .marca {
                padding-right: 1rem;
            }

            .fijiylogo {
                display: flex;
                width: 120%;
                justify-content: flex-end;

            }

            .logo {

                width: 60px;
                height: 50px;
            }

        }

        .icono3 {
            height: 60px;
            display: flex;
            justify-content: end;
            width: 100%;

            .icono {
                color: #BEAEE2;
                margin-top: 24px;
            }
        }

    }


    form {
        .btn {
            border: none;
        }
    }



    main {

        .card {
            margin-bottom: 300px;
            
            border: none;
            width: 80%;
            height: 260px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            transform: translateX(-60px);

            .photocard {
                @include size-produ;
            margin-top: 80px;
                transform: translateY(130px);


            }
        }

        .new {
            margin-left: 155px;
            margin-right: 155px;
            height: 300px;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .sale {
            transform: translateX(-170px);
            margin-top: 10px;
        }

        .free {
            width: 1550px;
            margin-top: 20px;
            transform: translateX(-10px);
            transform: translateY(-620px);
        }
    }

    footer {

        margin-top: 60px;
        border-top: 1px solid rgb(243, 237, 237);

    }