@import "./_variables.scss";
@import "./_home.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

header {
    .fiji-title {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .logo-content {
            width: 100%;
            padding: 0;
            margin: 0;

            h1 {
                font-family: 'IBM Plex Serif', serif;
                color: $color1;
                font-size: 40px
            }

            img {
                @include logo();
            }

            display: flex;
            justify-content: center;
        }

        .icono3 {
            display: flex;

            a {
                padding-left: 2px;
                color: $color1;
            }
        }
    }

}

main {
    font-family: 'Roboto Mono', monospace;
    min-height: 100vh;
    margin-top: 3em;
    margin-bottom: 10em;

    .hero {
        background-image: url("/assets/media/promo-men.png");
        height: 308px;
    }

    .content-women {
        margin-top: 3em;

        .row {
            margin-top: 1em;
            display: flex;
            justify-content: space-around;

            .women-card {
                box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
                -webkit-box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
                -moz-box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                height: 445px;
                margin: 1em auto;

                img {
                    @include men();
                }

                h2 {
                    color: $color2;
                    font-size: 14px;
                    transform: translateY(10px);
                }

                p {
                    font-weight: bold;

                }

                a {
                    text-decoration: none;
                    color: #fff;
                    text-align: center;
                    background-color: $color1;
                    border-radius: .2rem;
                    width: 84px;
                    padding: .3rem 0;
                    font-size: .875rem;
                    transition: all 0.4s;
                }

                a:hover {
                    background-color: #ccc2e4;
                }
            }
        }
    }
}