header{
    .name{
.fiji{
    color: rgb(200, 170, 228);
}
    }
    form{
        .btn{
    border: none;
}
    }
    .sale{
        background-color: blueviolet;
        width: 80%;
        height: 360px;
    }
}