main .container {
  display: grid;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: 180px;
  margin-top: 3em;
  margin-bottom: 3em;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px; }

main .item-text h2 {
  font-size: small;
  color: #949494;
  transform: translateX(-40px); }

main .item-text p {
  font-weight: bold;
  margin-top: 20px; }

main .item-text .btn {
  color: white;
  background-color: #BEAEE2; }

main .item-img {
  width: 200px;
  height: 300px;
  max-width: 100%;
  display: block; }

main .pagination {
  margin-right: 60px;
  transform: translateY(20px); }
  main .pagination a {
    color: #e9bede; }

main footer {
  margin-top: 100px;
  border-top: 1px solid #f3eded; }

main .codemen {
  transform: translateX(200px); }

main .container .item-text h2 {
  font-size: small;
  color: #949494; }

main .container .item-text p {
  font-weight: bold;
  transform: translateX(10px); }

main .container .item-text .btn {
  color: white;
  background-color: #BEAEE2; }

main .container .item-img {
  width: 200px;
  height: 300px;
  max-width: 100%;
  display: block;
  transform: translateX(-40px); }

main .pagination {
  margin-right: 60px;
  transform: translateY(20px); }
  main .pagination a {
    color: #e9bede; }

footer {
  margin-top: 100px;
  border-top: 1px solid #f3eded; }

main .carrito {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b6afaf;
  border-top: 1px solid #b6afaf;
  height: 400px;
  transform: translateX(-100px);
  background-color: red; }

main .code {
  transform: translateY(-80px); }

main .item-total {
  margin-top: 40px;
  transform: translateX(-100px); }

main .carr-img {
  width: 108px;
  height: 150px; }

main .infocarrito {
  list-style: none;
  transform: translateX(-80px);
  width: 280px; }
  main .infocarrito h1 {
    font-size: medium; }
  main .infocarrito li {
    color: #949494;
    font-size: small; }

main .codemen {
  transform: translateX(200px); }

main .container .item-text h2 {
  font-size: small;
  color: #949494; }

main .container .item-text p {
  font-weight: bold;
  transform: translateX(10px); }

main .container .item-text .btn {
  color: white;
  background-color: #BEAEE2; }

main .container .item-img {
  width: 200px;
  height: 300px;
  max-width: 100%;
  display: block;
  transform: translateX(-40px); }

main .pagination {
  margin-right: 60px;
  transform: translateY(20px); }
  main .pagination a {
    color: #e9bede; }

footer {
  margin-top: 100px;
  border-top: 1px solid #f3eded; }

main .codemen {
  transform: translateX(200px); }

main .container .item-text h2 {
  margin-top: 10px;
  font-size: small;
  color: #949494; }

main .container .item-text .red {
  display: flex;
  color: #de1b3c;
  font-weight: bold;
  align-items: center; }

main .container .item-text .btn {
  color: white;
  background-color: #BEAEE2;
  display: flex;
  justify-content: center;
  margin-top: 10px; }

main .container .item-text .incorrecto {
  transform: translateX(10px);
  text-decoration: line-through;
  color: #949494;
  font-size: small; }

main .container .item-img {
  width: 200px;
  height: 300px;
  max-width: 100%;
  display: block;
  transform: translateX(-40px); }

main .pagination {
  margin-right: 60px;
  transform: translateY(20px); }
  main .pagination a {
    color: #e9bede; }

footer {
  margin-top: 100px;
  border-top: 1px solid #f3eded; }

header {
  display: flex;
  flex-direction: column; }
  header .fiji {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: #BEAEE2; }
    header .fiji .marca {
      padding-right: 1rem; }
    header .fiji .fijiylogo {
      display: flex;
      width: 120%;
      justify-content: flex-end; }
    header .fiji .logo {
      width: 60px;
      height: 50px; }
  header .icono3 {
    height: 60px;
    display: flex;
    justify-content: end;
    width: 100%; }
    header .icono3 .icono {
      color: #BEAEE2;
      margin-top: 24px; }

form .btn {
  border: none; }

main .card {
  margin-bottom: 300px;
  border: none;
  width: 80%;
  height: 260px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  transform: translateX(-60px); }
  main .card .photocard {
    width: 200px;
    height: 300px;
    max-width: 100%;
    display: block;
    transform: translateY(130px); }

main .new {
  margin-left: 155px;
  margin-right: 155px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 20px; }

main .sale {
  transform: translateX(-170px);
  margin-top: 10px; }

main .free {
  width: 1550px;
  margin-top: 10px;
  transform: translateX(-10px);
  transform: translateY(-620px); }

footer {
  margin-top: 60px;
  border-top: 1px solid #f3eded; }
