@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
main .hero-home {
  background-image: url("/assets/media/fiji home.png");
  height: 500px; }

main .content-home {
  margin-top: 5em; }
  main .content-home .cards-home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em; }
    main .content-home .cards-home img {
      width: 250px;
      height: 350px;
      transition: all 0.5s; }
    main .content-home .cards-home img:hover {
      transform: translateY(10px); }

.main-prod {
  min-height: 400px; }
  .main-prod .producto-content {
    display: flex;
    justify-content: center;
    gap: 2em; }
    .main-prod .producto-content .img-content img {
      width: 300px; }
    .main-prod .producto-content .datos-prod {
      transform: translateX(-10px); }
      .main-prod .producto-content .datos-prod .title-star h2 {
        font-size: 25px; }
      .main-prod .producto-content .datos-prod .title-star i {
        transform: translateY(-10px);
        transition: 0.2s;
        cursor: pointer; }
      .main-prod .producto-content .datos-prod .title-star i:hover {
        font-size: 20px;
        color: #beaee2; }
      .main-prod .producto-content .datos-prod .title-star ul {
        list-style: none; }
        .main-prod .producto-content .datos-prod .title-star ul li {
          color: #949494;
          font-size: small;
          transform: translateX(-30px); }
      .main-prod .producto-content .datos-prod .talle-add .btn {
        border: 1px solid #ccc;
        width: 40px;
        color: #000;
        text-align: center; }
      .main-prod .producto-content .datos-prod .talle-add .not {
        color: #949494;
        text-decoration: line-through; }
      .main-prod .producto-content .datos-prod .talle-add .redes-i {
        margin-top: 2em; }
        .main-prod .producto-content .datos-prod .talle-add .redes-i #add {
          font-family: none;
          color: #fff;
          text-decoration: none;
          background-color: #beaee2;
          padding: 5px 80px;
          border-radius: .18rem;
          border: 1px solid #949494;
          transition: all 0.2s; }
        .main-prod .producto-content .datos-prod .talle-add .redes-i i {
          margin-left: 5px;
          transition: all 0.2s;
          color: #c2bdbd;
          cursor: pointer; }
        .main-prod .producto-content .datos-prod .talle-add .redes-i i:hover {
          font-size: 18px; }
        .main-prod .producto-content .datos-prod .talle-add .redes-i .redes {
          margin-top: 1em;
          transform: translatex(50px); }
    .main-prod .producto-content .details-cont {
      margin-top: 2em; }
      .main-prod .producto-content .details-cont .details-1 h3 {
        font-size: 16px;
        font-weight: bold;
        color: #000; }
      .main-prod .producto-content .details-cont .details-1 p {
        font-size: 14px;
        color: #161616; }

.main-carrito {
  min-height: 500px; }
  .main-carrito .carrito-content {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 5em auto; }
    .main-carrito .carrito-content .container {
      padding: 5em 0;
      gap: 1em; }
      .main-carrito .carrito-content .container .img-produc {
        position: relative;
        display: grid;
        grid-template-areas: "foto titulo" "foto list"; }
        .main-carrito .carrito-content .container .img-produc img {
          grid-area: foto;
          width: 108px;
          height: 150px; }
        .main-carrito .carrito-content .container .img-produc h2 {
          padding: 0;
          transform: translateX(20px);
          grid-area: titulo;
          font-size: medium; }
        .main-carrito .carrito-content .container .img-produc ul {
          color: #949494;
          transform: translateX(-10px);
          grid-area: list;
          list-style: none;
          font-size: 12px; }
      .main-carrito .carrito-content .container .quantity-cont {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .main-carrito .carrito-content .container .quantity-cont .content {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .main-carrito .carrito-content .container .quantity-cont .content label {
            font-size: small; }
          .main-carrito .carrito-content .container .quantity-cont .content select {
            text-align: center; }
        .main-carrito .carrito-content .container .quantity-cont .code {
          margin-left: 1em; }
          .main-carrito .carrito-content .container .quantity-cont .code input {
            text-align: start;
            width: 130px; }
          .main-carrito .carrito-content .container .quantity-cont .code button {
            text-align: center;
            width: 130px;
            padding: 3px 0;
            margin-top: 8px;
            background-color: #beaee2;
            color: #fff; }
      .main-carrito .carrito-content .container .datos-compra h3 {
        font-size: 15px; }
      .main-carrito .carrito-content .container .datos-compra span {
        text-align: end;
        color: #949494; }
      .main-carrito .carrito-content .container .datos-compra a {
        width: 100px;
        padding: 5px 0;
        background-color: #beaee2;
        color: #fff;
        border: 1px solid #ccc;
        border-radius: .18rem;
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        transition: 0.2s; }
      .main-carrito .carrito-content .container .datos-compra a:hover {
        background-color: black; }

.mainError {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .mainError .info h1 {
    color: #beaee2; }
  .mainError .info ul {
    font-family: 'IBM Plex Serif', serif;
    list-style: none; }
    .mainError .info ul a {
      font-size: 20px;
      color: #beaee2;
      transition: all 0.2s; }
    .mainError .info ul a:hover {
      color: dimgrey; }
  .mainError .homer {
    height: 500px; }

section .flecha {
  color: white;
  text-decoration: none;
  font-size: larger; }

main .red {
  color: #e00707; }

main .incorrecto {
  text-decoration: line-through;
  color: #c2bdbd; }

* {
  margin: 0;
  padding: 0;
  box-sizing: none; }

header .fiji-title {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  header .fiji-title .logo-content {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; }
    header .fiji-title .logo-content a {
      text-decoration: none; }
    header .fiji-title .logo-content h1 {
      font-family: 'IBM Plex Serif', serif;
      color: #beaee2;
      font-size: 40px; }
    header .fiji-title .logo-content img {
      width: 60px;
      height: 50px; }
  header .fiji-title .icono3 {
    display: flex; }
    header .fiji-title .icono3 a {
      padding-left: 2px;
      color: #beaee2; }

main {
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  margin-top: 3em;
  margin-bottom: 10em; }
  main .hero-home {
    width: 100%; }
  main .hero {
    background-image: url("../Multimedia/Banners/promo.png");
    height: 308px; }
  main .content-women {
    margin-top: 3em; }
    main .content-women .row {
      margin-top: 1em;
      display: flex;
      justify-content: space-around; }
      main .content-women .row .women-card {
        box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
        -webkit-box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
        -moz-box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 445px;
        margin: 1em auto; }
        main .content-women .row .women-card img {
          width: 250px;
          height: 350px; }
        main .content-women .row .women-card h2 {
          color: #949494;
          font-size: 14px;
          transform: translateY(10px); }
        main .content-women .row .women-card p {
          font-weight: bold; }
        main .content-women .row .women-card a {
          text-decoration: none;
          color: #fff;
          text-align: center;
          background-color: #beaee2;
          border-radius: .2rem;
          width: 84px;
          padding: .3rem 0;
          font-size: .875rem;
          transition: all 0.4s; }
        main .content-women .row .women-card a:hover {
          background-color: #ccc2e4; }
