main .container {
  display: grid;
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: 180px;
  margin-top: 3em;
  margin-bottom: 3em;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px; }

main .item-text {
  background-color: white;
  font-size: smaller; }
  main .item-text h2 {
    font-size: small;
    color: #949494; }
  main .item-text p {
    font-weight: bold;
    transform: translateX(55px); }

main .item-img {
  width: 200px;
  height: 300px;
  max-width: 100%;
  display: block; }

.pagination {
  margin-right: 60px;
  transform: translateY(1300px); }
  .pagination a {
    color: #e9bede; }

header .fiji {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 600px;
  color: #BEAEE2; }
  header .fiji .logo {
    width: 60px;
    height: 50px; }

header .icono3 {
  height: 60px;
  margin-left: 600px;
  justify-content: space-around; }
  header .icono3 .icono {
    color: #BEAEE2;
    margin-top: 24px; }

form .btn {
  border: none; }

main .card {
  margin-bottom: 300px;
  border: none;
  width: 80%;
  height: 260px;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  main .card .photocard {
    height: 260px;
    width: 200px; }

main .new {
  margin-left: 155px;
  margin-right: 155px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px; }

footer {
  margin-top: 100px;
  border-top: 1px solid #f3eded; }
