@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
main .hero-home {
  background-image: url("/assets/media/fiji home.png");
=======
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,600&display=swap");
main .hero-home {
  background-image: url("/assets/Multimedia/Banners/fiji_home.png");
>>>>>>> modificaciones
  height: 500px; }

main .content-home {
  margin-top: 5em; }
  main .content-home .cards-home {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em; }
    main .content-home .cards-home img {
      width: 250px;
      height: 350px;
      transition: all 0.5s; }
    main .content-home .cards-home img:hover {
      transform: translateY(10px); }

<<<<<<< HEAD
=======
main .women-card .off {
  font-size: small;
  color: #949494; }

main .women-card .red {
  color: #de1b3c; }

main .women-card .incorrecto {
  text-decoration: line-through;
  font-size: small;
  color: #949494; }

a:link {
  text-decoration: none; }

main .producto {
  display: flex;
  width: 80%;
  height: 500px;
  justify-content: start;
  margin-left: 200px; }
  main .producto .carousel1 {
    width: 408px;
    height: 500px;
    margin-left: 100px;
    transform: translateY(40px); }
  main .producto .infocarrito {
    margin-top: 100px;
    margin-left: 40px; }
    main .producto .infocarrito p {
      margin-left: 10px; }
    main .producto .infocarrito .add {
      margin-top: 10px;
      margin-left: 10px;
      width: 240px;
      height: 30px;
      color: white;
      background-color: #BEAEE2;
      border-radius: 4px;
      border: 1px solid #693469; }
    main .producto .infocarrito .redes {
      margin-left: 80px;
      margin-top: 20px; }
      main .producto .infocarrito .redes i {
        font-size: 20px; }
    main .producto .infocarrito .icono {
      color: #BEAEE2; }
    main .producto .infocarrito .btn {
      width: 40px;
      border: 1px solid #575656;
      background-color: white;
      border-radius: 2px;
      color: #a7a7a7;
      transform: translateX(10px); }
  main .producto .fa-star:hover {
    color: #e9bede; }
  main .producto .list {
    list-style: none;
    transform: translateX(-20px);
    color: black; }

main .details {
  margin-top: 50px;
  margin-left: 300px; }

>>>>>>> modificaciones
* {
  margin: 0;
  padding: 0;
  box-sizing: none; }

header .fiji-title {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  header .fiji-title .logo-content {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; }
    header .fiji-title .logo-content h1 {
      font-family: 'IBM Plex Serif', serif;
      color: #beaee2;
      font-size: 40px; }
    header .fiji-title .logo-content img {
      width: 60px;
      height: 50px; }
  header .fiji-title .icono3 {
    display: flex; }
    header .fiji-title .icono3 a {
      padding-left: 2px;
      color: #beaee2; }

main {
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  margin-top: 3em;
  margin-bottom: 10em; }
  main .hero {
<<<<<<< HEAD
    background-image: url("/assets/media/promo-men.png");
=======
    background-image: url("/Assets/Multimedia/Banners/promo.png");
>>>>>>> modificaciones
    height: 308px; }
  main .content-women {
    margin-top: 3em; }
    main .content-women .row {
      margin-top: 1em;
      display: flex;
      justify-content: space-around; }
      main .content-women .row .women-card {
        box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
        -webkit-box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
        -moz-box-shadow: 14px -9px 18px -17px rgba(0, 0, 0, 0.74);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 445px;
        margin: 1em auto; }
        main .content-women .row .women-card img {
          width: 250px;
          height: 350px; }
        main .content-women .row .women-card h2 {
          color: #949494;
          font-size: 14px;
          transform: translateY(10px); }
        main .content-women .row .women-card p {
          font-weight: bold; }
        main .content-women .row .women-card a {
          text-decoration: none;
          color: #fff;
          text-align: center;
          background-color: #beaee2;
          border-radius: .2rem;
          width: 84px;
          padding: .3rem 0;
          font-size: .875rem;
          transition: all 0.4s; }
        main .content-women .row .women-card a:hover {
          background-color: #ccc2e4; }
