header .name .fiji {
  color: #c8aae4; }

header form .btn {
  border: none; }
<<<<<<< HEAD
=======

header .sale {
  background-color: blueviolet;
  width: 80%;
  height: 360px; }
>>>>>>> 1e7d567 (agregue hero)
